{{ form_start(form) }}
       {{ form_row(form.user, { 'attr': {'class':'form-control' }}) }}
         {{ form_row(form.heure, { 'attr': {'class':'form-control' }}) }}
       {{ form_row(form.dateTemp, { 'attr': {'class':'form-control' }}) }}



    
                <div id="ticket"><div>
                <label for="ticket_date" class="required"> Votre Date </label>
                    <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                      <input type="text" class="form-control dpd1 " name="from" id="ticket_Date">
                      <span class="input-group-btn">
                      <button class="btn btn-theme04" type="button"><i class="fa fa-calendar-check-o"></i></button>

                    </div>
                   </div>
                   
          <div id="ticket"><div><label for="ticket_heure" class="required">Votre Heure </label>
                <div class="input-group bootstrap-timepicker">
                      <input type="text" class="form-control timepicker-24"  id="ticket_heure_custom">
                      <span class="input-group-btn">
                        <button class="btn btn-theme04" type="button"><i class="fa fa-clock-o"></i></button>
                        </span>
                </div>
        </div>
              
  <br/>
     <div style="font-size: large;">
     <center>
    <button class="btn btn-outline-secondary"> Enregistrer </button></center>
    <br>
    </div>

 {% block javascripts %}


  <script type="text/javascript" src="{{ asset('admin/lib/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/lib/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>

  
{% endblock %}
