{{ form_start(form) }}
        {{ form_row(form.user, { 'attr': {'class':'form-control' }} ) }}
        {{ form_row(form.entreprise, { 'attr': {'class':'form-control' }}) }}
       {{ form_row(form.heure) }}
       {{ form_row(form.dateTemp) }}
     

         <div class="col-lg-12">
    <div class="row mt">
          <!--  DATE PICKERS -->
                <div id="ticket"><div>
                <label for="ticket_date" class="required"> Votre Date </label>
                    <div class="input-group input-large" data-date="01/01/2014" data-date-format="mm/dd/yyyy">
                      <input type="text" class="form-control dpd1 " name="from" id="ticket_Date">
                      <span class="input-group-btn">
                    </div>
                   </div>
          <div id="ticket"><div><label for="ticket_heure" class="required">Votre Heure </label>
                <div class="input-group bootstrap-timepicker">
                      <input type="text" class="form-control timepicker-24"  id="ticket_heure_custom">
                      <span class="input-group-btn">
                        <button class="btn btn-theme04" type="button"><i class="fa fa-clock-o"></i></button>
                        </span>
                </div>
        </div>
        </div>
       </div>
     <div style="font-size: large;"> <br>
     <center>
<button  class="btn btn-outline-info"> Save </button>
   </center> </div>

<script>

  $('#ticket_heure_custom').on("change", function(){
    alert('ok')
    $('#ticket_heure').val($('#ticket_heure_custom').val()) ;
    $('#ticket_dateTemp').val($('#ticket_Date').val());
  })

</script>