{% extends 'entreprise/userPro.html.twig' %}


{% block body %}  
   <div class="col-lg-12"> 

<div class="card bg-gray-100 mb-20 d-inline-block col-lg-12 " style="max-width: 29rm;">
<br>
            <h2><i class="fa fa-angle-right"></i> Liste des Réservations </h2> <br>
    <div class="form-panel">
    <div class="table-responsive-xl">
            <table class="table">
                <thead>
            <tr>
                <th>Num</th>
                <th>Entreprise</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.num }}</td>
                <td>{{ ticket.entreprise.user.username }}</td>
                <td>{{ ticket.user.prenom }} {{ ticket.user.nom }}</td>
                <td>{{ ticket.date ? ticket.date|date('Y-m-d') : '' }}</td>
                <td>{{ ticket.heure }}</td>
            <td>
                <div style="display: flex; font-size: large;">
                    <a href="{{ path('ticket_edit_front', {'id': ticket.id}) }}" class="btn btn-outline-warning" >Modifier</a>
                   </td> <td> <form method="post" action="{{ path('ticket_delete_front', {'id': ticket.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
                                    <button class="btn btn-outline-danger">  Supprimer </button>

                   </form> 
                    </div>
                </td>
            </tr>
                       
             {% endfor %}
             <div style="display: flex; font-size: large;">
             <a href="{{ path('ticket_new_front') }}" class="btn btn-outline-success"> + Ajouter </a>
             </div>   <br> 
        </tbody>
    </table>
    
    </div>
    </div>
            <!-- /form-panel -->
    </div>
          <!-- /col-lg-12 -->
    </div>
         
{% endblock %}