{{ form_start(form) }}

        {{ form_row(form.jours, { 'attr': {'class':'form-control' }} ) }}
        {{ form_row(form.heureDebutMatin, { 'attr': {'class':'form-control' }} ) }}
        {{ form_row(form.heureFinMatin, { 'attr': {'class':'form-control' }} ) }}
       {{ form_row(form.heureDebutAp, { 'attr': {'class':'form-control' }}) }}
       {{ form_row(form.heureFinAp, { 'attr': {'class':'form-control' }}) }}
         <div class="col-lg-12">
    <div class="row mt">
           <br>
     <br/>
  </div></div>
<br/>
     <div style="font-size: large;">
     <center>
    <button class="btn btn-outline-secondary"> Enregistrer </button></center>
    <br>
    </div>

<script>

  $('#ticket_heure_custom').on("change", function(){
    alert('ok')
    $('#ticket_heure').val($('#ticket_heure_custom').val()) ;
    $('#ticket_dateTemp').val($('#ticket_Date').val());
  })

</script>