<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Sign up - srtdash</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/png" href="{{ asset('entreprise/assets/images/icon/favicon.ico')}}">
{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('entreprise/assets/css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/themify-icons.css')}}"
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/metisMenu.css')}}">
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/slicknav.min.css')}}">

<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<link rel="stylesheet" href="{{ asset('entreprise/assets/css/typography.css')}}">
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/default-css.css')}}">
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/styles.css')}}">
<link rel="stylesheet" href="{{ asset('entreprise/assets/css/responsive.css')}}">
{% endblock %}

<script src="{{ asset('entreprise/assets/js/vendor/modernizr-2.8.3.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>
</head>
<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div id="preloader">
<div class="loader"></div>
</div>


<div class="login-area login-s2">
<div class="container">
<div class="login-box ptb--100">
<div class="login-form-head">
<h4>Inscrit Vous !</h4>
</div>
<div class="login-form-body">

{{ include('@FOSUser/Registration/register_content.html.twig') }}

<div class="form-footer text-center mt-5">
<p class="text-muted"> Vous n'avez pas de compte? <a href="login.html">Login</a></p>
</div>
 </div>
</div>
</div>
</div>

{%block JavaScript %}

<script src="{{ asset('entreprise/assets/js/vendor/jquery-2.2.4.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>

<script src="{{ asset('entreprise/assets/js/popper.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>
<script src="{{ asset('entreprise/assets/js/bootstrap.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>
<script src="{{ asset('entreprise/assets/js/owl.carousel.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>
<script src="{{ asset('entreprise/assets/js/metisMenu.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>
<script src="{{ asset('entreprise/assets/js/jquery.slimscroll.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>
<script src="{{ asset('entreprise/assets/js/jquery.slicknav.min.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>

<script src="{{ asset('entreprise/assets/js/plugins.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>
<script src="{{ asset('entreprise/assets/js/scripts.js')}}" type="00911b08c59fbe67e279917d-text/javascript"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="00911b08c59fbe67e279917d-text/javascript"></script>
<script type="00911b08c59fbe67e279917d-text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="00911b08c59fbe67e279917d-|49" defer=""></script></body>

  

  <!-- Bootstrap core JavaScript-->
  <script src="{{asset('user/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('user/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{asset('user/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for allnar pages-->
  <script src="{{asset('user/js/sb-admin-2.min.js')}}"></script>
  <script>
    $('input[type=text]').addClass('form-control');
    $('input[type=email]').addClass('form-control');
    $('input[type=password]').addClass('form-control');
  </script>
{% endblock %}


<!-- Algolia --!>
  <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>

<script>

  var placesAutocomplete = places({
    appId: 'plJ9KMPU6SCC',
    apiKey: 'c8c402900b72a30b50b2f803fddee305',
    container: document.querySelector('#fos_user_registration_form_adresse')
  });

  placesAutocomplete.on('change', function resultSelected(e) {
      document.getElementById('fos_user_registration_form_ville').value = e.suggestion.name;
      document.getElementById('fos_user_registration_form_lat').value = e.suggestion.latlng.lat;
      document.getElementById('fos_user_registration_form_lng').value = e.suggestion.latlng.lng;
      document.getElementById('fos_user_registration_form_codePostale').value = e.suggestion.postcode;

  });

</script>
</html>

