{% extends 'entreprise/userPro.html.twig' %}

{% block body %}

            <div class="g-gradient-primary">

                <div class="col-lg-10"> 
                        <h1>  Mon Profile </h1>
                        
                    <div class="form-panel">
                        <div class="table-responsive-xl">
                            <img class="img-profile rounded-circle " src="{{asset('uploads/entreprises/images/'~ entreprise.UrlLogo)}}" style="width:200px; height:200px;" > <br>
                      <br> <centre>
                              <div class="card bg-gray mb-20 d-inline-block col-lg-12" style="max-width: 30rm;">

                            <strong >  Nom:   </strong> {{ entreprise.user.nom}} <br>

                            <strong>  Prenom:  </strong> {{ entreprise.user.prenom}}<br>

                            <strong>  Username:  </strong> {{ entreprise.user.username}}<br>

                            <strong>  Email:  </strong> {{ entreprise.user.email}}<br>
                            
                           <strong>  Catégorie:  </strong> {{ entreprise.categorie.nom}}<br>

                            <strong>Telephone:  </strong> {{ entreprise.user.tel}}<br>
                         
                            <strong>  Adresse:  </strong> {{ entreprise.user.adresse }}><br>
                         
                            <strong>  Ville:  </strong> {{ entreprise.user.ville }}<br>

                            <strong>  Code postal:  </strong> {{ entreprise.user.codePostale }}<br>
                            </div>
                            </centre>

                           </div> 
                        </div>
                    </div>
                        <!-- /form-panel -->
                </div>
                        <!-- /col-lg-12 -->
             </div>


{% endblock%}