<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TIKI TI &mdash;</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('acceuil/fonts/icomoon/style.css')}}">

    <link rel="stylesheet" href="{{ asset('acceuil/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ asset('acceuil/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{ asset('acceuil/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ asset('acceuil/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{ asset('acceuil/css/owl.theme.default.min.css')}}">

    <link rel="stylesheet" href="{{ asset('acceuil/css/jquery.fancybox.min.css')}}">

    <link rel="stylesheet" href="{{ asset('acceuil/css/bootstrap-datepicker.css')}}">

    <link rel="stylesheet" href="{{ asset('acceuil/fonts/flaticon/font/flaticon.css')}}">

    <link rel="stylesheet" href="{{ asset('acceuil/css/aos.css')}}">

    <link rel="stylesheet" href="{{ asset('acceuil/css/style.css')}}">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap"  id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    <div class="container d-none d-lg-block">
      <div class="row">
        <div class="col-12 text-center mb-4 mt-5">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">TIKI TI<span class="text-primary">.</span> </a></h1>
          </div>
      </div>
    </div>
    <header class="site-navbar py-md-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-md-6 col-xl-2  d-block d-lg-none">
            <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">TIKI TI<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 main-menu">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link"> Acceuil </a></li>
                
                <li><a href="#about-section" class="nav-link"> À propos </a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 col-md-6 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>
    

    <div class="site-blocks-cover">
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-md-12" style="position: relative;" data-aos="fade-up">
            
            <img src="{{ asset('acceuil/images/landing_1.png')}}" alt="Image" class="img-fluid img-absolute">

            <div class="row mb-4">
              <div class="col-lg-4 mr-auto">
                <h1>Bienvenue !  </h1>
                <p class="mb-5"> Notre application qui satisfait les besoins du clients et lui fait gagner du temps pour se présenter aux agences , aux temps de réservation pour éviter d’encombrement humain .</p>
                <div>
                  <a href="{{ path('fos_user_security_login')}}" class="btn btn-primary mr-2 mb-2"> Start </a>
                </div>
              </div>
              
              
            </div>

          </div>
        </div>
      </div>
    </div>  

    <div class="site-section bg-light" id="about-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3"> À propos de nous ! </h2>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6">
            <img src="{{ asset('acceuil/images/about_1.jpg')}}" alt="Image" class="img-fluid mb-5 mb-lg-0 rounded shadow">
          </div>
          <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4">TiKi Ti </h2>
            <p class="mb-4"> Notre application web liée avec un application android pour les clients .
                  Cette application a comme objectif de faciliter et limiter le temps d'attente ainsi que de réserver votre tour dans une file d'attente dans des différents secteurs , de plus l'application  informe le client sur l'état de la file d'attente, la position géographique de certains agences , savoir les horaires, les nouveautés des services, les coordonnées de responsables , ainsi recevoir des notifications d'alarme .</div>
        </div>
        
      </div>
    </div>


    
        </div>
      </div>
    </div>
    </div>
  </div> 
  <!-- .site-wrap -->

  <script src="{{ asset('acceuil/js/jquery-3.3.1.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/jquery-ui.js')}}"></script>
  <script src="{{ asset('acceuil/js/popper.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/bootstrap.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/owl.carousel.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/jquery.stellar.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/jquery.countdown.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/jquery.easing.1.3.js')}}"></script>
  <script src="{{ asset('acceuil/js/aos.js')}}"></script>
  <script src="{{ asset('acceuil/js/jquery.fancybox.min.js')}}"></script>
  <script src="{{ asset('acceuil/js/jquery.sticky.js')}}"></script>

  
  <script src="{{ asset('acceuil/js/main.js')}}"></script>
    
  </body>
</html>