
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Tikiti - Admin</title>

  <!-- Favicons -->
  <link href="{{ asset('admin/img/favicon.png') }}" rel="icon">
  <link href="{{ asset('admin/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{{ asset('admin/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!--external css-->
  <link href="{{ asset('admin/lib/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
  
  <script src="{{asset ('admin/lib/jquery/jquery.min.js') }}"></script>
  
{% block stylesheets %}

  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
{% endblock %}
   

  <!-- Custom styles for this template -->
  <link href="{{ asset('admin/css/style.css') }}" rel="stylesheet">
  <link href="{{ asset('admin/css/style-responsive.css') }}" rel="stylesheet">

</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href="{{ path('admin_homepage') }}" class="logo"><b>TIkI<span>TI</span></b></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
       
        <ul class="nav top-menu">
                </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{{ path('admin_logout')}}">se déconnecter</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
     *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

           <br>
          <h4 class="centered"> <strong> Bienvenue {{ app.user.username }}</strong></h4>
         
            
          <li class="mt">
            <a class="{% if 'admin_homepage' == app.request.get('_route') %}active{% endif %}" href="{{ path('admin_homepage') }}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="{% if 'admin_show' == app.request.get('_route') or 'admin_edit' == app.request.get('_route')%}active{% endif %}">
              <i class="fa fa-book"></i>
              <span>Mon compte</span>
              </a>
            <ul class="sub" style="{% if 'admin_show' == app.request.get('_route') %}display:block;{% endif %}" >
              <li><a href="{{ path('admin_show') }}">Affichier</a></li>
              <li><a href="{{ path('admin_edit') }}">Modifier</a></li>
            </ul>
          </li>

          <li class="sub-menu">
            <a href="javascript:;" class="{% if 'user_index' == app.request.get('_route') or 'user_new' == app.request.get('_route') %}active{% endif %}" >
              <i class="fa fa-desktop"></i>
              <span>Gestion Des utilisateurs </span>
              </a>
            <ul class="sub"  style="{% if 'user_index' == app.request.get('_route') %}display:block;{% endif %}" >
              <li><a href="{{ path('user_index') }}"class="{% if 'user_index' == app.request.get('_route') %}active{% endif %}">Liste des utilisateurs</a></li>
              <li><a href="{{ path('user_new') }}"class="{% if 'user_new' == app.request.get('_route') %}active{% endif %}">Ajouter un utilisateurs</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="{% if 'entreprise_index' == app.request.get('_route') or 'entreprise_new' == app.request.get('_route')%}active{% endif %}"  >
              <i class="fa fa-cogs"></i>
              <span>Gestion Des Entreprises</span>
              </a>
            <ul class="sub" style="{% if 'entreprise_index' == app.request.get('_route') %}display:block;{% endif %}">
              <li><a href="{{ path('entreprise_index') }}">Liste Des Entreprises </a></li>
              <li><a href="{{ path('entreprise_new') }}">Ajouter Des Esntreprises </a></li>

            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="{% if 'ticket_index' == app.request.get('_route') or 'ticket_new' == app.request.get('_route')%}active{% endif %}">
              <i class="fa fa-book"></i>
              <span>Ticket</span>
              </a>
            <ul class="sub" style="{% if 'ticket_index' == app.request.get('_route') %}display:block;{% endif %}" >
              <li><a href="{{ path('ticket_index') }}">Liste des réservation </a></li>
              <li><a href="{{ path('ticket_new') }}">Ajouter Ticket</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;" class="{% if 'categories_index' == app.request.get('_route') or 'categories_new' == app.request.get('_route')%}active{% endif %}"  >
              <i class="fa fa-cogs"></i>
              <span>Gestion Des domaines</span>
              </a>
            <ul class="sub" style="{% if 'categories_index' == app.request.get('_route') %}display:block;{% endif %}">
              <li><a href="{{ path('categories_index') }}">Liste Des domaines </a></li>
              <li><a href="{{ path('categories_new') }}">Ajouter Des domaines </a></li>

            </ul>
          </li>

        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
            {% block body %}{% endblock %}
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
    <!--footer start-->
    
  </section>
  <!-- js placed at the end of the document so the pages load faster -->

  <script src="{{asset ('admin/lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <script class="include" type="text/javascript" src="{{asset ('admin/lib/jquery.dcjqaccordion.2.7.js')}}"></script>
  <script src="{{asset ('admin/lib/jquery.scrollTo.min.js')}}"></script>
  <script src="{{asset ('admin/lib/jquery.nicescroll.js')}}" type="text/javascript"></script>
   <!--common script for all pages-->
  <script src="{{asset ('admin/lib/common-scripts.js')}}"></script>
 
 {% block javascripts %}{% endblock %}
   
</body>

</html>
