{% extends 'admin/admin.html.twig' %}

{% block title %} New Ticket{% endblock %}

{% block stylesheets %}

  <link rel="stylesheet" type="text/css" href="{{ asset('admin/lib/bootstrap-datepicker/css/datepicker.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('admin/lib/bootstrap-daterangepicker/daterangepicker.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('admin/lib/bootstrap-timepicker/compiled/timepicker.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('admin/lib/bootstrap-datetimepicker/datertimepicker.css') }}" />

{% endblock %} 

{% block body %}
    <h1> Nouveau Ticket</h1>

<div class="row mt" class="{form"} >
          <!--  DATE PICKERS -->

 <div class="col-lg-12">
   <h4><i class="fa fa-angle-right"></i> Ajouter </h4>
<div class="form-panel">
{% for message in app.flashes('error') %}
    <div class="alert-danger">
        {{ message }}
    </div>
{% endfor %}
      {{ include('admin/ticket/_form.html.twig') }}

   </div>
       <!-- /form-panel -->

     </div>
          <!-- /col-lg-12 -->
        </div>

    
{% endblock %}

{% block javascripts %}

  <script src="{{ asset('admin/lib/jquery-ui-1.9.2.custom.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/lib/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>
  <script type="text/javascript" src="{{ asset('admin/lib/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>
  <script src="{{ asset('admin/lib/advanced-form-components.js') }}"></script>


{% endblock %}





 