{% extends 'admin/admin.html.twig' %}



{% block body %}    
 
              <div class="row mt">
    <div class="col-lg-12">
            <h2><i class="fa fa-angle-right"></i> Liste des Réservations </h2> <br>
    <div class="form-panel">
    <div class="table-responsive-xl">
            <table class="table">
                <thead>
            <tr>
                <th>Num</th>
                <th>Entreprise</th>
                <th>Utilisateur</th>
                <th>Date</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.num |default('undefined')}}</td>
                <td>{{ ticket.entreprise.user.username |default('undefined')}}</td>
                <td>{{ ticket.user.prenom|default('undefined') }} {{ ticket.user.nom |default('undefined')}}</td>
                <td>{{ ticket.date ? ticket.date|date('Y-m-d') : ''|default('undefined') }}</td>
                <td>{{ ticket.heure|default('undefined') }}</td>
            <td>
                <div style="display: flex; font-size: large;">
                    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}" class="btn btn-warning fa fa-edit "></a>
                    <form method="post" action="{{ path('ticket_delete', {'id': ticket.id }) }}" onsubmit="return confirm(' Supprimer ');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.id) }}">
                            <button class="btn btn-danger fa fa-trash-o"></button>
                        </form> 
                    </div>
                </td>
            </tr>
                       
             {% endfor %}
             <div style="display: flex; font-size: large;">
             <a href="{{ path('ticket_new') }}" class="btn btn-success fa fa-plus"> Ajouter </a>
             </div>    
        </tbody>
    </table>
    
    </div>
    </div>
            <!-- /form-panel -->
    </div>
          <!-- /col-lg-12 -->
    </div>
         
{% endblock %}